.music-wrap {
    display: flex;
    justify-content: center;
    margin-top: 16vw;
}

.music {
    display: flex;
    justify-content: center;
    /* height: 3vh; */
    width: 100%;
}

.music-img {
    height: 12vh
}

.music-content {
    display: flex;
    background-color: #3B528D;
    padding: 1vh 3vw;
    border-radius: 5vw;
    height: 8vh;
    margin: auto 0;
    margin-left: 1vw;
}

.music.text {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
}

.music-content p {
    margin: auto;
    margin-left: 1vw
}