.temp-container {
    /* width: 60vw; */
    align-items: center;
    background-color: var(--grey);
}

.slider-container {
    width: 55vw;
    display: flex;  
    justify-content: center;  
    background-color: var(--grey);
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    margin-top: 2vh
}

#discrete-slider-custom{
    text-align: center;
    margin-top: 3vh;
    font-size: 1.3vw
}

.tslider-wrap {
    width: 20vw;
    margin: 0 1vw
}

.control-wrap {
    background-color: var(--grey);  
    width: 55vw;
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
    padding: 2vh;
    align-content: center;
}

.temp-controls {
    background-color: black;
    text-align: center;
    border-radius: 30px;
    width: 40vw;
    margin: 0 auto;
    margin-top: 2vh;
    padding: 2vh 6vh;
    display: flex;
    justify-content: space-around;
}

.temp-controls img {
    height: 4.5vh
}

.temp-controls img:hover {
    cursor: pointer;
}