.index-container {
  padding: 0 10vw;
}

.index-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 0;
}
.index-nav h1 {
  font-size: 2.6vw;
  font-family: med;
  transform: translateX(-70%);
}
.hero {
  width: 100%;
  height: 80vh;
  overflow: hidden;
}
.hero img {
  width: 100%;
  transform: translate(0, -30%);
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10vh;
}
.content img {
  width: 45%;
  height: 40vh;
  object-fit: cover;
  border-radius: 10px;
}
.write {
  padding-left: 3vw;
  width: 50%;
}
.write h2 {
  font-size: 3vw;
  margin-bottom: 2vh;
}
.write p {
  font-size: 1.6vw;
  font-family: regular;
  line-height: 5vh;
}
.write p a {
  color: #0896f5;
}

footer {
  width: 100vw;
  height: 30vh;
  background-color: #202a44;
}
footer .index-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address,
.phone {
  font-size: 1.2vw;
  margin: 1vh 0;
  font-family: light;
}
